flows/Cascade_Delete_Form_Version-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Are_there_any_Form_Containers</name>
        <label>Are there any Form Containers</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Form_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Containers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Form_Container</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_Form_Elements</name>
        <label>Are there any Form Elements</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Form_Containers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Form_Element</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Elements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Form_Elements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow accepts a form version record id and deletes itself after cascade deleting related form containers and form elements</description>
    <environments>Default</environments>
    <interviewLabel>Cascade Delete Form Versions {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cascade Delete Form Version</label>
    <loops>
        <name>Loop_Through_Form_Versions</name>
        <label>Loop Through Form Versions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Form_Version_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Form_Elements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Form_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Form_Container</name>
        <label>Delete Form Container</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Loop_Through_Form_Versions</targetReference>
        </connector>
        <inputReference>Get_Form_Containers</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Form_Elements</name>
        <label>Delete Form Elements</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Form_Containers</targetReference>
        </connector>
        <inputReference>Get_Form_Elements</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Form_Versions</name>
        <label>Delete Form Versions</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Line</targetReference>
        </faultConnector>
        <inputReference>Get_Form_Version_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Form_Containers</name>
        <label>Get Form Containers</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_Form_Containers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Definition_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Form_Versions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_Container__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Elements</name>
        <label>Get Form Elements</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_Form_Elements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Definition_Version_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Form_Versions.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_Element__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Version_Record</name>
        <label>Get Form Version Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Form_Versions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_Definition_Version__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Line</name>
        <label>Fault Line</label>
        <locationX>440</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Form_Version_Record</targetReference>
        </connector>
        <fields>
            <name>Delete_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Are you sure you want to do some collateral damage to the records?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(108, 108, 108);&quot;&gt;Click back button on your browser window to cancel and go back to the Form Version Record. Click OK to proceed.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Form Versions successfully Deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
