flows/Create_Form_Definition_Version-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_action_to_Generate_EDFMetadata</name>
        <label>Apex action to Generate EDFMetadata</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>GenerateExtremeDynamicsFormsMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_Metadata_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>formVersionId</name>
            <value>
                <elementReference>NewlyCreatedFormDefinitionVersionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>CurrentFormDefinitionRecord.Object_API_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageLayout</name>
            <value>
                <elementReference>CurrentFormDefinitionRecord.Reference_Page_Layout__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateExtremeDynamicsFormsMetadata</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Form_Version_Fail_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Apex_action_to_Generate_EDFMetadata.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Version_Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Form Definition Version {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Form Definition Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Form_Definition_Version</name>
        <label>Create Form Definition Version</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>NewlyCreatedFormDefinitionVersionId</assignRecordIdToReference>
        <connector>
            <targetReference>Apex_action_to_Generate_EDFMetadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Definition__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Form_Definition_Version__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_Delete_Form_Version</name>
        <label>Copy 1 of Delete Form Version</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewlyCreatedFormDefinitionVersionId</elementReference>
            </value>
        </filters>
        <object>Form_Definition_Version__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Form_Version</name>
        <label>Delete Form Version</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewlyCreatedFormDefinitionVersionId</elementReference>
            </value>
        </filters>
        <object>Form_Definition_Version__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Form_Definition_Record</name>
        <label>Get Current Form Definition Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Form_Definition_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Form_Definition__c</object>
        <outputReference>CurrentFormDefinitionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reference_Page_Layout__c</queriedFields>
        <queriedFields>Object_API_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Form_Version_Fail_Screen</name>
        <label>Form Version Fail Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Delete_Form_Version</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FormVersionDetailsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Metadata Generation Results:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Form Version:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Apex_action_to_Generate_EDFMetadata.formVersionId}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Status: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Apex_action_to_Generate_EDFMetadata.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Form_Version_Success_Screen</name>
        <label>Form Version Success Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FormVersionDetailsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Metadata Generation Results:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Form Version:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Apex_action_to_Generate_EDFMetadata.formVersionId}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Status: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Apex_action_to_Generate_EDFMetadata.message}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(35, 118, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Metadata_Error_Screen</name>
        <label>Generate Metadata Error Screen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Form_Version</targetReference>
        </connector>
        <fields>
            <name>GenerateMetadataErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Form Metadata creation failed. Please re-check the object API - &lt;strong&gt;{!CurrentFormDefinitionRecord.Object_API_Name__c}&lt;/strong&gt; and Page Layout - &lt;strong&gt;{!CurrentFormDefinitionRecord.Reference_Page_Layout__c} &lt;/strong&gt;provided and try again&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(69, 69, 69); font-size: 11px;&quot;&gt;Error Details:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(131, 0, 0); font-size: 11px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Form_Definition_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentFormDefinitionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Definition__c</objectType>
    </variables>
    <variables>
        <name>NewlyCreatedFormDefinitionVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Form Definition Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
